
.upper{

    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    border-bottom: 2px solid black;
    background-color: rgb(62, 152, 231);
}

.lower{

    display:flex;
    justify-content: flex-start;
    height:auto;
    border-bottom: 2px solid rgb(14, 14, 14);
}

.left{
    background-color: rgb(232, 226, 226);
    width: 400px;
    height: 160px;
    border-right: 1px solid black;
    padding-left: 10px;
    border-bottom: 3px solid black;
}

.right{
    background-color: rgb(255, 255, 255);
    color:black;
    flex-grow: 1;
    
    padding-top: 20px;
    border-left: 2px solid black;
}
    
.task{
    
    border: 3px solid gray;
    width: 300px;
    margin-top: 5px;
    margin-bottom: 3px;
    padding: 2px;
    margin-left: 10px;
    
    
}

